{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>
                <h3 class="text-uppercase">{{ .Site.Params.see_more.title }}</h3>
                <p class="lead">{{ .Site.Params.see_more.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more.link_text }}</a><br /></p>
				<p class="lead">Om een goed beeld te krijgen van de werkgebieden van de brandweer, heeft Brandweer Nederland een korte video ontwikkeld waar in ons werk wordt getoond. <br />
					<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FMTJhD0ReRA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
