{{ if isset .Site.Params "brw_nederland" }}
{{ if .Site.Params.brw_nederland.enable }}
<section class="bar background-pentagon no-mb">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>
                <h3 class="text-uppercase">{{ .Site.Params.brw_nederland.title }}</h3>
                <p class="lead">{{ .Site.Params.brw_nederland.subtitle }}</p>
                <p class="text-center">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/FMTJhD0ReRA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
