<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>
	    
	<a href="https://www.politie.nl/amberalert"><img src="https://www.burgernet.nl/static/posters/landelijk/970x250.jpg" /></a>

        {{ partial "carousel.html" . }}
		
	{{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
