<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
  
  <center><img style='height: 100%; width: 100%; object-fit: contain' src="https://images.weserv.nl/?url=media.amberalertnederland.nl/banner/alert/AS/1/AMBER_Alert_banner_1920x1080.jpg"></center>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}
		
		{{ partial "recent_posts.html" . }}

        {{ partial "features.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "brw_nederland.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
